body {
    /* Styling the body */
    color: white;
    font-size: 13px;
    background: #202020;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    margin-top: 80px;
}

#main {
    /* The gallery container */
    width: 100%;
    height: 500px;
    display: block;
}

#gallery {
    /* The images container */
    left: 50px;
    top: 50px;
    width: 75%;
    height: 450px;
    position: relative;
}

.polaroid {
    /* Each picture and the hyperlink inside it */
    display: block;
    overflow: hidden;

    /* Styles specific to the pic class */
    position: absolute;
    border: 5px solid #eeeeee;
    border-bottom: 20px solid #eeeeee;

    /* CSS3 Box Shadow */
    -moz-box-shadow: 2px 2px 5px #333333;
    -webkit-box-shadow: 2px 2px 5px #333333;
    box-shadow: 2px 2px 5px #333333;
}

.polaroid p {
    height: 30px;
    width: 230px;
    background: #eeeeee;
    border: 5px solid #EEEEEE;
    text-align: center;
    font-family: Georgia, serif;
    font-size: 9px;
    color: #000000;
    margin-top: 6px;
}

footer {
    font-family: "Myriad Pro", "Trebuchet MS", sans-serif;
    color:#0B75AF;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px black;
    width: 100%;
    text-align: center;
}

footer #copyright {
    width: 100%;
}

footer #shuffle a {
    margin: 10px;
    text-decoration: none;
    cursor: pointer;
    color:#0B75AF;
}

.clear {
    clear: both;
}

#main-about {
    width: 100%;
    display: block;
}

#about {
    width: 50%;
    margin: 25px auto 0px auto;
    position: relative;
    display: block;
}

#about #picture {
    width: 180px;
    float: left;
}

#about #picture img {
    /* CSS3 Box Shadow */
    -moz-box-shadow: 5px 5px 10px #E8E8E8;
    -webkit-box-shadow: 5px 5px 10px #E8E8E8;
    box-shadow: 5px 5px 10px #E8E8E8;
}
#about #info {
    margin-left:190px;
}

#about #info p {
    font-family: 'Unna', serif;
    color: #EDEDED;
    font-size: 18px;
    margin-left: 5px;
    margin-right: 5px;
}

#about #info #name {
    margin: 0;
    font-family: 'IM Fell English SC', serif;
    font-size: 30px;
    color:#0B75AF;
    text-shadow:1px 1px 1px #000;
}

#about #info a {
    text-decoration: none;
    cursor: auto;
    color: #0B75AF;
}

#about #info a:hover {
    text-decoration: underline;
    color: #EDEDED;
}

#main-gallery {
    width: 100%;
    height: 750px;
    display: block;
}

#main-gallery #set-name {
    width: 500px;
    text-align: center;
    display: block;
    font-family: 'IM Fell English SC', serif;
    font-size: 30px;
    color:#0B75AF;
    margin: 5px auto;
}

#main-gallery #temp-gallery {
    display: none;
}
